<div style="text-align: center">
  <% if @article.errors.any? %>
    <h3> The Following Errors prevented the article to be created </h3>
    <ul>
      <% @article.errors.full_messages.each do |error_message| %>
        <li>
          <%= error_message %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= form_for @article do |form| %>
  <div style="text-align: center">
    <p>
      <%= form.label :title %> </br>
      <%= form.text_field :title %> </br></br>
      <%= form.label :description %></br>
      <%= form.text_area :description %></br>
      <%= form.submit %>
      <%= link_to "Go Back", articles_path %>
    </p>
  </div>
<% end %>