<div style="text-align: center">
  <h2>
    Title: <%= @article.title%>
  </h2>
  <div class="well col-xs-8 col-xs-offset-2">
    <h4 class="center description"><strong>Description:</strong></h4>
    <hr>
    <%= simple_format(@article.description) %>
    <div class="article-actions">
      <%= link_to "View All Article", articles_path, class: "btn btn-success" %> |
      <%= link_to "Edit Article", edit_article_path(@article), class: "btn btn-primary" %> |
      <%= link_to "Delete this article", article_path(@article), class: "btn btn-danger",
                  method: :delete,
                  data: {confirm:"Are you sure you want to delete this article? This action cannot be undone"} %>
    </div>
  </div>
</div>